<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Tabel over alle registrerede konti i systemet</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Medarbejder</th>
        <th>Kunde</th>
        <th>Fulde navn</th>
        <th>Kontonummer</th>
        <th>Kontonavn</th>
        <th>Saldo (DKK)</th>
        <th>Rente (%)</th>
        <th>Kodeord</th>
        <th>Håndter konto</th>
    </tr>
    <!-- For-each-loop, der gennemløber objektet "konti" for diverse key/values -->
    {{#each konti}}
    <tr>
        <td>{{Uid}}</td>
        <td>{{medarbejder}}</td>
        <td>{{kunde}}</td>
        <td>{{fuldenavn}}</td>
        <td>{{kontonummer}}</td>
        <td>{{kontonavn}}</td>
        <td>{{saldo}}</td>
        <td>{{rente}}</td>
        <td>{{kodeord}}</td>
        <td style="text-align: center;">
            <form action="/konti/delete/{{Uid}}" method="POST">
                <button class="deleteBtn" >Slet konto</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<br>
<!-- Navigation -->
<nav>
        <a href="/html/opretNyBruger.html" class= "tilføj" > Opret ny bruger i systemet</a>
        <a href="/html/redigerData.html" >Rediger data for konto/bruger i systemet</a>
</nav>

<a id="gaaTilStart" href="/">Gå til Start-siden</a>
